{% extends "base.html" %}

{% block title %}Videos | {{ super() }} {% endblock %}

{% block content %}
<div class='row'>
    <div class='col-12 col-md-9'>
        <h1>All Videos</h1>

        {% for object in object_list %}
        <div class='border rounded p-3 mb-2'>
            <div id='video-inline-edit-{{ object.host_id }}'>
                <a href="{{ object.path }}">
                {% if not object.title %}{{ object.host_id }}{% else %}{{ object.title }}{% endif %}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}